<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisense.serverestimate.mapper.BaseUserMapper" >
  <resultMap id="BaseResultMap" type="com.hisense.serverestimate.entity.BaseUser" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="truename" property="truename" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hisense.serverestimate.entity.BaseUser" >
    insert into base_user (user_id, username, password, 
      company_id, role_id)
    values (#{userId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hisense.serverestimate.entity.BaseUser" >
    update base_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select user_id, username, password, company_id, role_id
    from base_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, username, password, company_id, role_id
    from base_user
  </select>
  <select id="getUserByNamePassword" resultMap="BaseResultMap" parameterType="map">
    SELECT
      u.*,
      r.role_name,
      c.company_name
    FROM
      base_user u
      LEFT JOIN base_role r
        ON u.role_id = r.role_id
      LEFT JOIN base_company c
        ON c.company_id = u.company_id
    WHERE u.username = #{username,jdbcType=VARCHAR}
      AND u.password = #{password,jdbcType=VARCHAR}
    </select>
</mapper>