<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisense.serverestimate.mapper.BaseServerMapper" >
  <resultMap id="BaseResultMap" type="com.hisense.serverestimate.entity.BaseServer" >
    <id column="server_id" property="serverId" jdbcType="VARCHAR" />
    <result column="server_code" property="serverCode" jdbcType="VARCHAR" />
    <result column="server_name" property="serverName" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="server_type" property="serverType" jdbcType="VARCHAR" />
    <result column="manager" property="manager" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ServerEnterpriseMap" type="com.hisense.serverestimate.entity.BaseServer" >
    <id column="server_id" property="serverId" jdbcType="VARCHAR" />
    <result column="server_code" property="serverCode" jdbcType="VARCHAR" />
    <result column="server_name" property="serverName" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="server_type" property="serverType" jdbcType="VARCHAR" />
    <result column="manager" property="manager" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <collection property="enterprises" ofType="com.hisense.serverestimate.entity.BaseEnterprise">
      <id column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR" />
      <result column="cis" property="cis" jdbcType="VARCHAR" />
      <result column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR" />
      <result column="office" property="office" jdbcType="VARCHAR" />
      <result column="company_id" property="companyId" jdbcType="VARCHAR" />
      <result column="company_name2" property="companyName" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_server
    where server_id = #{serverId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hisense.serverestimate.entity.BaseServer" >
    insert into base_server (server_id, server_code, `server_name`, 
      company_name, server_type, manager, 
      province, city, district
      )
    values (#{serverId,jdbcType=VARCHAR}, #{serverCode,jdbcType=VARCHAR}, #{serverName,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{serverType,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateBycisPageManagerPrimaryKey" parameterType="com.hisense.serverestimate.entity.BaseServer" >
    update base_server
    set server_code = #{serverCode,jdbcType=VARCHAR},
      `server_name` = #{serverName,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      server_type = #{serverType,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR}
    where server_id = #{serverId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="ServerEnterpriseMap" parameterType="java.lang.String" >
    select se.server_id, se.server_code, se.`server_name`, se.company_name, se.server_type, se.manager,
    se.province, se.city, se.district,en.enterprise_id, en.cis, en.enterprise_name, en.office, en.company_id, en.company_name company_name2
    from base_server se
    left join server_enterprise_rel r
      on se.server_code = r.server_code
    left join base_enterprise en
      on en.cis = r.enterprise_cis
    where server_id = #{serverId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT
      s.*
    FROM
      base_server s
    ORDER BY s.server_code
  </select>
  <select id="getServerList" resultMap="BaseResultMap" parameterType="map" >
    SELECT
      s.*
    FROM
      base_server s
    WHERE 1=1
    <if test="keyword != null and keyword !=''" >
      AND (server_code LIKE #{keyword,jdbcType=VARCHAR}
      OR server_name   LIKE #{keyword,jdbcType=VARCHAR}
      OR company_name  LIKE #{keyword,jdbcType=VARCHAR}
      OR server_type   LIKE #{keyword,jdbcType=VARCHAR}
      OR manager       LIKE #{keyword,jdbcType=VARCHAR}
      OR province      LIKE #{keyword,jdbcType=VARCHAR}
      OR city          LIKE #{keyword,jdbcType=VARCHAR}
      OR district      LIKE #{keyword,jdbcType=VARCHAR})
    </if>
    ORDER BY s.server_code
    LIMIT #{startIndex,jdbcType = INTEGER},#{pCount,jdbcType = INTEGER}
  </select>
  <select id="getServerListNum" parameterType="map" resultType="Integer">
    SELECT count(1) from base_server
    WHERE 1=1
    <if test="keyword != null and keyword !=''" >
      AND (server_code LIKE #{keyword,jdbcType=VARCHAR}
      OR server_name   LIKE #{keyword,jdbcType=VARCHAR}
      OR company_name  LIKE #{keyword,jdbcType=VARCHAR}
      OR server_type   LIKE #{keyword,jdbcType=VARCHAR}
      OR manager       LIKE #{keyword,jdbcType=VARCHAR}
      OR province      LIKE #{keyword,jdbcType=VARCHAR}
      OR city          LIKE #{keyword,jdbcType=VARCHAR}
      OR district      LIKE #{keyword,jdbcType=VARCHAR})
    </if>
  </select>
  <delete id="deleteAll">
    delete from base_server
  </delete>
  <insert id="insertAll" parameterType="com.hisense.serverestimate.entity.BaseServer">
    insert into base_server (server_id, server_code, `server_name`, company_name, server_type, manager,
    province, city, district)values
    <foreach collection="collection" item="listEntity" separator=",">
      (
        #{listEntity.serverId,jdbcType=VARCHAR},
        #{listEntity.serverCode,jdbcType=VARCHAR},
        #{listEntity.serverName,jdbcType=VARCHAR},
        #{listEntity.companyName,jdbcType=VARCHAR},
        #{listEntity.serverType,jdbcType=VARCHAR},
        #{listEntity.manager,jdbcType=VARCHAR},
        #{listEntity.province,jdbcType=VARCHAR},
        #{listEntity.city,jdbcType=VARCHAR},
        #{listEntity.district,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <select id="getServerByServerCode" parameterType="string" resultMap="BaseResultMap" >
    select * from base_server where server_code =#{serverCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteEnterpriseByServerId" parameterType="string">
    delete
    from
      server_enterprise_rel
    where server_code IN
      (select
        server_code
      from
        base_server
      where server_id = #{serverId,jdbcType=VARCHAR})
  </delete>
</mapper>