<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisense.serverestimate.mapper.EstimateMainMapper" >
  <resultMap id="BaseResultMap" type="com.hisense.serverestimate.entity.EstimateMain" >
    <id column="main_id" property="mainId" jdbcType="VARCHAR" />
    <result column="main_name" property="mainName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from estimate_main
    where main_id = #{mainId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hisense.serverestimate.entity.EstimateMain" >
    insert into estimate_main (main_id, main_name, create_date, 
      create_user, `status`)
    values (#{mainId,jdbcType=VARCHAR}, #{mainName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hisense.serverestimate.entity.EstimateMain" >
    update estimate_main
    set main_name = #{mainName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR}
    where main_id = #{mainId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select main_id, main_name, create_date, create_user, `status`
    from estimate_main
    where main_id = #{mainId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select main_id, main_name, create_date, create_user, `status`
    from estimate_main
  </select>
</mapper>