<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisense.serverestimate.mapper.EstimateResultMapper" >
  <resultMap id="BaseResultMap" type="com.hisense.serverestimate.entity.EstimateResult" >
    <id column="result_id" property="resultId" jdbcType="VARCHAR" />
    <result column="main_id" property="mainId" jdbcType="VARCHAR" />
    <result column="enterprise_cis" property="enterpriseCis" jdbcType="VARCHAR" />
    <result column="server_code" property="serverCode" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="score_array" property="scoreArray" jdbcType="VARCHAR" />
    <result column="text_array" property="textArray" jdbcType="VARCHAR" />
    <result column="totle_score" property="totleScore" jdbcType="DECIMAL" />
    <result column="mean_score" property="meanScore" jdbcType="DECIMAL" />
    <result column="source_data" property="sourceData" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from estimate_result
    where result_id = #{resultId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hisense.serverestimate.entity.EstimateResult" >
    insert into estimate_result (result_id, main_id, enterprise_cis, 
      server_code, create_date, score_array, 
      text_array, totle_score, mean_score, 
      source_data)
    values (#{resultId,jdbcType=VARCHAR}, #{mainId,jdbcType=VARCHAR}, #{enterpriseCis,jdbcType=VARCHAR}, 
      #{serverCode,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{scoreArray,jdbcType=VARCHAR}, 
      #{textArray,jdbcType=VARCHAR}, #{totleScore,jdbcType=DECIMAL}, #{meanScore,jdbcType=DECIMAL}, 
      #{sourceData,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hisense.serverestimate.entity.EstimateResult" >
    update estimate_result
    set main_id = #{mainId,jdbcType=VARCHAR},
      enterprise_cis = #{enterpriseCis,jdbcType=VARCHAR},
      server_code = #{serverCode,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      score_array = #{scoreArray,jdbcType=VARCHAR},
      text_array = #{textArray,jdbcType=VARCHAR},
      totle_score = #{totleScore,jdbcType=DECIMAL},
      mean_score = #{meanScore,jdbcType=DECIMAL},
      source_data = #{sourceData,jdbcType=VARCHAR}
    where result_id = #{resultId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select result_id, main_id, enterprise_cis, server_code, create_date, score_array, 
    text_array, totle_score, mean_score, source_data
    from estimate_result
    where result_id = #{resultId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select result_id, main_id, enterprise_cis, server_code, create_date, score_array, 
    text_array, totle_score, mean_score, source_data
    from estimate_result
  </select>
</mapper>